<section class="education" id="experience">
    <h2 class="heading">EXPERIENCIA</h2>
    <div class="timeline-items">
        <div class="timeline-item">
            <div class="timeline-dot"></div>
                <div class="timeline-data">2022</div>
                <div class="timeline-content">
                    <h3>AGENTE DE VENTA DE BOLETOS</h3>
                    <p>Buen Plan requirió personal para ventas de boletos a conciertos, por ende mi responsabilidad se basó en:</p>
                    <br><br>
                    <div class="indications">
                        <i class='bx bxs-badge-check'></i>	Vender entradas de forma presencial.
                        <br>
                        <i class='bx bxs-badge-check'></i>  Realizar operaciones de cuentas cada final de jornada.
                        <br>
                        <i class='bx bxs-badge-check'></i>	Promocionar y captar la atención de la población para el servicio a vender.
                    </div>
                </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-dot"></div>
                <div class="timeline-data">2023</div>
                <div class="timeline-content">
                    <h3>DESARROLLADOR BACKEND</h3>
                    <p>La Comunidad Parroquial de Alangasí tuvo como objetivo optimizar la información de su cementerio, por lo que obtuve las siguientes responsabilidades:</p>
                    <br><br>

                    <div class="indications">
                        <i class='bx bxs-badge-check'></i>	Realizar un sistema de información para optimizar de una forma eficaz y eficiente todos los registros del cementerio.
                        <br>
                        <i class='bx bxs-badge-check'></i>  Implementar interfaces gráficas en base a UX.
                        <br>
                        <i class='bx bxs-badge-check'></i>	Aplicar medidas de seguridad para la protección de los datos y privacidad de la información.
                    </div>	
                </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-dot"></div>
                <div class="timeline-data">2024</div>
                <div class="timeline-content">
                    <h3>DESARROLLADOR BACKEND</h3>
                    <p>Óptica L.R Visión dio su paso a digitalizar su información, en consiguiente mis responsabilidades fueron:</p>
                    <br><br>

                    <div class="indications">
                        <i class='bx bxs-badge-check'></i>	Desarrollar un sistema de información completo, desde la lógica de la base de datos hasta el procesamiento de datos.
                        <br>
                        <i class='bx bxs-badge-check'></i>  Implementar informes de resportes acorde a ventas e inventario.
                        <br>
                        <i class='bx bxs-badge-check'></i>	Ejecutar acciones con procedimientos almacenados para un óptimo proceso de datos.
                    </div>
                </div>
        </div>
    </div>
</section>
