.education{
	padding: 100px 15px;
	background: var(--second-bg-color);
}

.education h2{
	margin-bottom: 5rem;
}

.timeline-items{
	max-width: 1200px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.timeline-items::before{
	content: "";
	position: absolute;
	width: 5px;
	height: 100%;
	background-color: var(--main-color);
	left: calc(50% - 1px);
}

.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}

.timeline-item:nth-child(odd){
	padding-right: calc(50% + 30px);
	text-align: right;
}

.timeline-item:nth-child(even){
	padding-left: calc(50% + 30px);
}

.timeline-dot{
	height: 21px;
	width: 21px;
	background-color: var(--main-color);
	box-shadow: 0 0 25px var(--main-color),
	            0 0 50px var(--main-color);
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top: 10px;
}

.timeline-data{
	font-size: 20px;
	font-weight: 800;
	color: #fff;
	margin: 6px 0 15px;
}

.timeline-content{
	background-color: var(--bg-color);
	border: 3px solid var(--main-color);
	padding: 30px 50px;
	border-radius: 4rem;
	box-shadow: 0 0 10px var(--main-color);
	transition: 0.3s ease-in-out;
}

.timeline-content:hover{
	transform: scale(1.05);
	box-shadow: 0 0 25px var(--main-color);
}

.timeline-content h3{
	font-size: 20px;
	color: #fff;
	margin: 0 0 10px;
	font-weight: 500;
}

.timeline-content p{
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

.indications{
	font-size: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem;
	color: var(--main-color);
}

.indications i{
	margin: 1rem;
}