<section class="education" id="experience">
    <h2 class="heading">EXPERIENCIA</h2>
    <div class="timeline-items">
        <div class="timeline-item">
            <div class="timeline-dot"></div>
                <div class="timeline-data">2022</div>
                <div class="timeline-content">
                    <h3>DESARROLLADOR BACKEND</h3>
                    <p>Desarrollé un sistema para optimizar la gestión de registros del cementerio en la Comunidad Parroquial de Alangasí, implementando interfaces UX y medidas de seguridad para proteger los datos.</p>
                    <div class="indications">
                        <i class="fa-brands fa-php"></i>
                        <i class="fa-brands fa-js"></i>
                        <i class="fa-solid fa-database"></i>
                        <i class="fa-brands fa-css3-alt"></i>
                    </div>
                </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-dot"></div>
                <div class="timeline-data">2023</div>
                <div class="timeline-content">
                    <h3>DESARROLLADOR BACKEND</h3>
                    <p>Digitalicé la gestión de información en Óptica L.R Visión, desarrollando un sistema completo, creando informes de ventas e inventario y optimizando procesos con procedimientos almacenados.</p>
                    <div class="indications">
                        <i class="fa-brands fa-php"></i>
                        <i class="fa-brands fa-js"></i>
                        <i class="fa-solid fa-database"></i>
                        <i class="fa-brands fa-bootstrap"></i>
                    </div>	
                </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-dot"></div>
                <div class="timeline-data">2024 - Actualidad</div>
                <div class="timeline-content">
                    <h3>DESARROLLADOR BACKEND</h3>
                    <p>Me enfoco en desarrollar soluciones robustas centradas en la lógica del negocio de YOBEL LOGISTIC S.A, optimizando procesos clave para mejorar la eficiencia y garantizar la funcionalidad de cada operación.</p>
                    <div class="indications">
                        <i class="fa-brands fa-laravel"></i>
                        <i class="fa-brands fa-python"></i>
                        <i class="fa-solid fa-database"></i>
                        <i class="fa-brands fa-angular"></i>
                        <i class="fa-brands fa-bootstrap"></i>
                    </div>	
                </div>
        </div>
    </div>
</section>
