<footer class="footer">
    <div class="social-icons">
        <div class="redes" (click)="goToLink('https://www.linkedin.com/in/daniel-enriquez-36203a2a8?')"><i class="fa-brands fa-linkedin"></i></div>
        <div class="redes" (click)="goToLink('https://github.com/10038-rdenriquez2')"><i class="fa-brands fa-square-github"></i></div>
        <div class="redes" (click)="goToLink('https://wa.me/+593980031871')"><i class="fa-brands fa-square-whatsapp"></i></div>
        <div class="redes" (click)="goToLink('https://www.instagram.com/dani.php_/')"><i class="fa-brands fa-square-instagram"></i></div>
    </div>

    <h2>Imagina, analiza, programa 😉✌</h2>
</footer>
