<header class="header">
    <a href="#home" class="logo">
        Daniel <span>Enriquez</span>
    </a>

    <nav class="navbar" [class.active]="menuActive">
        <a href="#home" (click)="closeMenu()">Inicio</a>
        <a href="#skills" (click)="closeMenu()">Habilidades</a>
        <a href="#projects" (click)="closeMenu()">Proyectos</a>
        <a href="#experience" (click)="closeMenu()">Experiencia</a>
        <a href="#certificates" (click)="closeMenu()">Certificados</a>
    </nav>

    <button class="gradient-btn" (click)="redirectToEmail()">Contáctame</button>

    <button type="button" id="menu-icon" (click)="toggleMenu($event)">
        <i class="fa-solid" [ngClass]="menuActive ? 'fa-xmark' : 'fa-bars'"></i>
    </button>

</header>
