<header class="header">
    <a href="#home" class="logo">
        Daniel <span>Enriquez</span>
    </a>

    <i *ngIf="!menuActive" class="fa-solid fa-bars" id="menu-icon" (click)="toggleMenu()"></i>
    <i *ngIf="menuActive" class="fa-solid fa-xmark" id="menu-icon" (click)="toggleMenu()"></i>

    <nav class="navbar" [class.active]="menuActive">
        <a href="#home">Inicio</a>
        <a href="#skills">Habilidades</a>
        <a href="#projects">Proyectos</a>
        <a href="#experience">Experiencia</a>
        <a href="#certificates">Certificados</a>
    </nav>

    <button class="gradient-btn" (click)="redirectToEmail()">Contáctame</button>

</header>
