.header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 3rem 15%;
	background: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(10px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 5000;
}

#menu-icon{
	font-size: 3.5rem;
	color: var(--main-color);
	display: none;
	cursor: pointer;
	position: relative;
	z-index: 5001;
	padding: 1rem;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	-webkit-user-select: none;
	background: transparent;
	border: none;
	outline: none;
}

#menu-icon i{
	pointer-events: none;
}

.logo{
	font-size: 3rem;
	color: var(--text-color);
	font-weight: 800;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.logo:hover{
	transform: scale(1.1);
}

.logo span{
	background: linear-gradient(
		270deg,
		#4DC3F6 10%,
		#4570E1 100%
	);
	background-clip: text;
	color: transparent;
}

.navbar a{
	font-size: 1.8rem;
	color: var(--text-color);
	margin-left: 4rem;
	font-weight: 500;
	transition: 0.3s ease-in-out;
	border-bottom: 3px solid transparent;
}

.navbar a:hover{
	color: var(--main-color);
	border-bottom: 3px solid var(--main-color);
}

.gradient-btn{
	font-size: 1.8rem;
	padding: 1rem 2rem;
	border-radius: 3rem;
	background: linear-gradient(
		270deg,
		#4DC3F6 50%,
		#4570E1 100%
	);
	letter-spacing: 1px;
	cursor: pointer;
	transition: 0.3s ease-in-out;
	color: #fff;
	border: none;
	text-wrap: nowrap;
}

.gradient-btn:hover{
	transform: scale(1.05);
}

@media(max-width: 1285px){
	#menu-icon{
		display: block;
	}

	.navbar{
		position: absolute;
		top: 100%;
		right: 0;
		width: 50%;
		padding: 1rem 3rem;
		background: rgba(0, 0, 0, 0.95);
		backdrop-filter: blur(10px);
		border-bottom-left-radius: 2rem;
		border-left: 2px solid var(--main-color);
		border-bottom: 2px solid var(--main-color);
		display: none;
		z-index: 4999;
	}

	.navbar a{
		display: block;
		font-size: 2rem;
		margin: 3rem 0;
		color: var(--text-color);
		-webkit-tap-highlight-color: transparent;
		padding: 0.5rem;
	}

	.navbar.active{
		display: block;
	}

	.gradient-btn{
		display: none;
	}
}

@media(max-width: 768px){
	.navbar{
		width: 70%;
	}

	.header{
		padding: 2rem 5%;
	}
}

@media(max-width: 480px){
	.navbar{
		width: 100%;
		border-bottom-left-radius: 0;
		border-left: none;
	}

	.logo{
		font-size: 2.5rem;
	}

	#menu-icon{
		font-size: 3rem;
	}
}